@model VarsityPortal.Models.Mark

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Mark</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ExamName" class="control-label"></label>
                <input asp-for="ExamName" class="form-control" />
                <span asp-validation-for="ExamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutOf" class="control-label"></label>
                <input asp-for="OutOf" class="form-control" />
                <span asp-validation-for="OutOf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentStudentId" class="control-label"></label>
                <select asp-for="EnrollmentStudentId" class="form-control" asp-items="ViewBag.EnrollmentStudentId"></select>
                <span asp-validation-for="EnrollmentStudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentSectionId" class="control-label"></label>
                <select asp-for="EnrollmentSectionId" class="form-control" asp-items="ViewBag.EnrollmentSectionId"></select>
                <span asp-validation-for="EnrollmentSectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

