
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="text-center">
    <a asp-controller="Department" asp-action="Index" class="btn btn-primary mb-2">Departments</a><br />
    <a asp-controller="Courses" asp-action="Index" class="btn btn-primary mb-2">Course</a><br />
    <a asp-controller="Sections" asp-action="Index" class="btn btn-primary mb-2">Section</a><br />
    <a asp-controller="Enrollments" asp-action="Index" class="btn btn-primary mb-2">Enrollment</a><br />
    <a asp-controller="Students" asp-action="Index" class="btn btn-primary mb-2">Students</a><br />
    <a asp-controller="Teachers" asp-action="Index" class="btn btn-primary mb-2">Teachers</a><br />
</div>