
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="text-center">
    <a asp-action="Courses" class="btn btn-primary mb-2">Courses</a><br />
    <a asp-action="Profile" class="btn btn-primary mb-2">Profile</a>
</div>
